<div class="card-user card">
    <div class="card-header">
        <h2 class="card-title">{{title}}</h2>
    </div>
    <div class="card-body">
        <form name="groupForm" id="groupForm" #groupForm="ngForm" class="container" novalidate>

            <div class="row" *ngIf="!isNew">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Group ID</label>
                        <input type="text" name="clientID" disabled="" class="form-control" id="groupID" name="groupID"
                            #groupID="ngModel" [(ngModel)]="group.groupID">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Group Name</label>
                        <input type="text" name="groupName" class="form-control" placeholder="Group Name" id="groupName"
                            #groupName="ngModel" [(ngModel)]="group.groupName" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Group Code</label>
                        <input type="text" name="groupCode" class="form-control" placeholder="Group Code" id="groupCode"
                            #groupCode="ngModel" [(ngModel)]="group.groupCode" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Group Desc</label>
                        <input type="text" name="groupDesc" class="form-control" placeholder="Group Desc" id="groupDesc"
                            #groupDesc="ngModel" [(ngModel)]="group.groupDesc" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover table-dark container">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Modules</th>
                            <th scope="col">View</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let company of companyService; let i=index">
                            <td>{{i+1}}</td>
                            <td data-toggle="tooltip" data-placement="top" title="{{company.serviceDesc}}">
                                {{company.serviceName}}</td>
                            <td><input type="checkbox" name="view{{company.serviceId}}" id="view{{company.serviceId}}"
                                    [(ngModel)]="groupPermisionsView[i]"></td>
                            <td><input type="checkbox" name="edit{{company.serviceId}}" id="edit{{company.serviceId}}"
                                    [(ngModel)]="groupPermisionsEdit[i]"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <label>Individual Rights</label>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="groupActive" name="groupActive" type="checkbox" class="form-check-input"
                                [(ngModel)]="group.groupActive">
                            <span class="form-check-sign"></span>Active
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="indvRights" name="indvRights" type="checkbox" class="form-check-input"
                                [(ngModel)]="group.indvRights">
                            <span class="form-check-sign"></span>Indv Rights
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="skillGroup" name="skillGroup" type="checkbox" class="form-check-input"
                                [(ngModel)]="group.skillGroup">
                            <span class="form-check-sign"></span>Skill Group
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="update ml-auto mr-auto"><button (click)="saveGroup()" [disabled]="groupForm.invalid" 
                        class="btn btn-primary">{{nameButton}}</button><button type="button" class="btn btn-info"
                        (click)="cancelGroup()">Cancel</button></div>
            </div>

        </form>
    </div>
</div>